.dart_tool
.DS_Store
*~
.packages
.pub
**/pubspec.lock
.flutter-plugins-dependencies
# IntelliJ
.idea
*.iml

# VSCode
.vscode/

build/*

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json