# Below is a list of Flutter team members' GitHub handles who are
# suggested reviewers for contributions to this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

cipd_packages/codesign/**                          @XilaiZhang
cipd_packages/device_doctor/**                     @yusuf-goog
cipd_packages/doxygen/**                           @gspencergoog
