# This file represents a "workspace" that applies to the whole repository.
#
# See <https://flutter.dev/go/pub-workspace> for details.

name: _cocoon_workspace

# Required for workspace support.
environment:
  sdk: ^3.9.0

workspace:
  - app_dart
  - auto_submit
  - dashboard
  - analyze
  - licenses
  - packages/buildbucket-dart
  - packages/cocoon_common
  - packages/cocoon_common_test
  - packages/cocoon_server
  - packages/cocoon_server_test
  - packages/cocoon_integration_test
  - dev/cocoon_code_health
  - dev/githubanalysis


dev_dependencies:
  dart_flutter_team_lints: 3.5.2
  melos: ^7.0.0-dev.7

melos:
  command:
    bootstrap:
      environment:
        sdk: ">=3.10.0 <4.0.0"
        flutter: ">=3.27.1"
      dev_dependencies:
        test: any
  scripts:
    lint:all:
      steps:
        - analyze
        - format
      description: Run all static analysis checks.

    build_runner:
      exec: dart run build_runner build --delete-conflicting-outputs
      description: Run build_runner for each folder
      packageFilters:
        fileExists: build.yaml

    analyze:
      run: melos exec dart analyze .
      description: Run `dart analyze` for all packages.

    format-check:
      run: melos exec dart format . --set-exit-if-changed
      description: Run `dart format` checks for all packages.

    pub-get:
      steps:
        - melos exec --no-flutter -- "dart pub get"
        - melos exec --flutter -- "flutter pub get"

    upgrade: melos exec flutter pub upgrade

    test:
      steps:
        - melos exec --no-flutter --dir-exists test -- "dart test"
        - melos exec --flutter --dir-exists test -- "flutter test"
      description: Run all tests in this project.

