# Copyright 2022 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
name: auto_submit
description: GitHub application for managing pull request submission
version: 0.0.1
publish_to: none
homepage: https://github.com/flutter/cocoon/blob/main/autosubmit

environment:
  sdk: ^3.1.0

dependencies:
  appengine: 0.13.9
  corsac_jwt: 1.0.1
  github: 9.24.0
  googleapis: 13.2.0
  googleapis_auth: 1.6.0
  graphql: 5.2.0-beta.9
  gql: 1.0.1-alpha+1709845491443
  http: 1.2.2
  json_annotation: 4.9.0
  meta: 1.16.0
  neat_cache: 2.0.4
  shelf: 1.4.2
  shelf_router: 1.1.4
  crypto: 3.0.6
  logging: 1.2.0
  retry: 3.1.2
  yaml: 3.1.2
  mutex: 3.1.0
  cocoon_server:
    path: ../cocoon_server

dev_dependencies:
  build_runner: 2.4.13
  json_serializable: 6.9.0
  flutter_lints: 5.0.0
  mockito: 5.4.4
  test: 1.25.12

builders:
  json_serializable: 3.3.0
