# Copyright 2022 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
name: auto_submit
description: GitHub application for managing pull request submission
version: 0.0.1
publish_to: none
homepage: https://github.com/flutter/cocoon/blob/main/autosubmit

environment:
  sdk: '>=2.15.0 <3.0.0'

dependencies: 
  appengine: ^0.13.2
  corsac_jwt: ^1.0.0-nullsafety.1
  flutter_lints: ^1.0.4
  github: ^9.2.0
  googleapis: ^7.0.0
  googleapis_auth: ^1.3.0
  graphql: ^5.1.1
  http: ^0.13.4
  meta: ^1.7.0
  neat_cache: ^2.0.1
  shelf: ^1.3.0
  shelf_router: ^1.1.2
  

dev_dependencies:
  build_runner: ^2.1.10
  linter: ^1.22.0
  lints: ^1.0.0
  mockito: ^5.0.14
  test: ^1.21.1
