# Copyright 2019 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

name: cocoon_service
homepage: https://github.com/flutter/cocoon
publish_to: none

environment:
  sdk: '>=2.5.0 <3.0.0'

dependencies:
  appengine: ^0.10.0
  dbcrypt: ^1.0.0
  collection: ^1.14.11
  crypto: ^2.0.6
  file: ^5.1.0
  fixnum: ^0.10.9
  gcloud: ^0.6.3
  github: ^7.0.1
  googleapis_auth: ^0.2.10
  googleapis: ^0.54.0
  graphql: ^2.1.0
  http: ^0.12.0
  json_annotation: ^3.0.0
  meta: ^1.1.7
  metrics_center:
    # TODO(liyuqian): once metrics_center is properly reviewed, add it to
    # flutter/packages, publish on pub.dev, and use the published package here.
    git: https://github.com/liyuqian/metrics_center.git
  mime: ^0.9.0
  neat_cache: ^1.0.1
  protobuf: ^1.0.0
  yaml: ^2.1.16
  corsac_jwt: ^0.2.2
  truncate: ^2.1.2

dev_dependencies:
  build_runner: ^1.0.0
  json_serializable: ^3.3.0
  mockito: ^4.1.0
  test: ^1.6.5

builders:
  json_serializable: ^3.3.0

