# Copyright 2019 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

name: cocoon_service
description: AppEngine service for managing Flutter CI
homepage: https://github.com/flutter/cocoon
publish_to: none

environment:
  sdk: '>=3.0.0-0 <4.0.0'

dependencies:
  appengine: 0.13.7
  args: 2.4.2
  collection: 1.18.0
  corsac_jwt: 1.0.0-nullsafety.1
  crypto: 3.0.3
  dbcrypt: 2.0.0
  file: 7.0.0
  fixnum: 1.1.0
  gcloud: 0.8.11
  github: 9.20.0
  googleapis: 11.4.0
  googleapis_auth: 1.4.1
  gql: 1.0.1-alpha+1696717343881
  graphql: 5.2.0-beta.6
  grpc: 3.2.4
  http: 1.1.0
  json_annotation: 4.8.1
  logging: 1.2.0
  meta: 1.11.0
  mime: 1.0.4
  mutex: 3.1.0
  neat_cache: 2.0.3
  path: 1.8.3
  process: 5.0.1
  process_runner: 4.1.4
  protobuf: 2.1.0
  retry: ^3.1.2
  truncate: 3.0.1
  yaml: 3.1.2

dev_dependencies:
  analyzer: 5.13.0
  build_runner: 2.4.6
  fake_async: 1.3.1
  flutter_lints: 3.0.1
  json_serializable: 6.7.1
  mockito: 5.4.3
  platform: 3.1.3
  test: 1.24.9

builders:
  json_serializable: 3.3.0
