# Copyright 2019 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

name: cocoon_service
description: AppEngine service for managing Flutter CI
homepage: https://github.com/flutter/cocoon
publish_to: none

environment:
  sdk: '>=3.0.0-0 <4.0.0'

dependencies:
  appengine: 0.13.7
  args: 2.5.0
  collection: 1.18.0
  corsac_jwt: 1.0.0-nullsafety.1
  crypto: 3.0.3
  dbcrypt: 2.0.0
  file: 7.0.0
  fixnum: 1.1.0
  gcloud: 0.8.12
  github: 9.24.0
  googleapis: 12.0.0
  googleapis_auth: 1.6.0
  gql: 1.0.1-alpha+1709845491443
  graphql: 5.2.0-beta.7
  grpc: 3.2.4
  http: 1.2.1
  json_annotation: 4.8.1
  logging: 1.2.0
  meta: 1.14.0
  mime: 1.0.5
  mutex: 3.1.0
  neat_cache: 2.0.4
  path: 1.9.0
  process: 5.0.2
  process_runner: 4.2.0
  protobuf: 2.1.0
  retry: ^3.1.2
  truncate: 3.0.1
  yaml: 3.1.2

dev_dependencies:
  analyzer: 6.4.1
  build_runner: 2.4.9
  fake_async: 1.3.1
  flutter_lints: 3.0.2
  json_serializable: 6.7.1
  mockito: 5.4.4
  platform: 3.1.4
  test: 1.25.3

builders:
  json_serializable: 3.3.0
