# Copyright 2019 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

name: cocoon_service
description: AppEngine service for managing Flutter CI
homepage: https://github.com/flutter/cocoon
publish_to: none

environment:
  sdk: ^3.1.0

dependencies:
  appengine: 0.13.9
  args: 2.6.0
  buildbucket: 1.0.12
  collection: 1.19.1
  corsac_jwt: 1.0.1
  crypto: 3.0.6
  dbcrypt: 2.0.0
  file: 7.0.1
  fixnum: 1.1.0
  gcloud: 0.8.18
  github: 9.24.0
  googleapis: 13.2.0
  googleapis_auth: 1.6.0
  gql: 1.0.1-alpha+1730759315362
  graphql: 5.2.0-beta.10
  grpc: 3.2.4
  http: ^1.2.1
  json_annotation: 4.9.0
  logging: 1.3.0
  meta: ^1.16.0
  mime: 2.0.0
  mutex: 3.1.0
  neat_cache: 2.0.4
  path: 1.9.1
  process: 5.0.3
  process_runner: 4.2.0
  protobuf: 2.1.0
  retry: ^3.1.2
  truncate: 3.0.1
  yaml: 3.1.3
  cocoon_server:
    path: ../cocoon_server

dependency_overrides:
  protobuf: 3.1.0

dev_dependencies:
  analyzer: 7.2.0
  build_runner: 2.4.14
  fake_async: 1.3.3
  flutter_lints: 5.0.0
  json_serializable: 6.9.3
  mockito: 5.4.5
  platform: 3.1.6
  test: 1.25.14

builders:
  json_serializable: 3.3.0
