name: codesign
description: A standalone app to codesign Mac engine binaries.
version: 1.0.0
homepage: https://github.com/flutter/cocoon

resolution: workspace

environment:
  sdk: ^3.9.0

dependencies:
  archive: 4.0.7
  args: 2.7.0
  crypto: 3.0.7
  fake_async: 1.3.3
  file: 7.0.1
  flutter_lints: 5.0.0
  logging: 1.3.0
  meta: ^1.17.0
  platform: 3.1.6
  process: 5.0.5
  retry: 3.1.2

dev_dependencies:
  dart_flutter_team_lints: 3.5.2
  lints: ^6.0.0
  test: 1.29.0
