name: codesign
description: A standalone app to codesign Mac engine binaries.
version: 1.0.0
homepage: https://github.com/flutter/cocoon

environment:
  sdk: '>=2.18.0 <4.0.0'

dev_dependencies:
  lints: 3.0.0
  test: 1.25.2
dependencies:
  archive: 3.4.10
  args: 2.4.2
  crypto: 3.0.3
  fake_async: 1.3.1
  file: 7.0.0
  flutter_lints: 3.0.1
  logging: 1.2.0
  meta: 1.11.0
  platform: 3.1.4
  process: 5.0.2
  retry: 3.1.2
