name: codesign
description: A standalone app to codesign Mac engine binaries.
version: 1.0.0
homepage: https://github.com/flutter/cocoon

environment:
  sdk: '>=2.18.0 <4.0.0'

dev_dependencies:
  lints: 2.1.1
  test: 1.24.5
dependencies:
  archive: 3.3.7
  args: 2.4.2
  crypto: 3.0.3
  fake_async: 1.3.1
  file: 6.1.4
  flutter_lints: 2.0.2
  logging: 1.2.0
  meta: 1.10.0
  platform: 3.1.0
  process: 4.2.4
